{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="row">
        {% for project in all_projects %}
            <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <img src="{{ project.image.url }}" width="150px">
                    <p class="card-text">{{project.technology}}</p>
                    <a href="#" class="btn bg-info">Details</a>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}